{% extends 'LexikCrudBundle:CRUD:list.html.twig' %}

{% set activeMenu = 'cms' %}

{% block datagrid_title %}
    <a href="{{ crud_path(crud_name, 'new') }}" class="btn btn-primary">
        <i class="icon-plus icon-white"></i>
        {{ 'list.action.new' | trans({}, 'LexikCrudBundle') }}
    </a>

    {{ parent() }}
{% endblock %}

{% block datagrid_table_actions_show %}{% endblock %}

{% block datagrid_table_tbody %}
    <td>
        <a href="{{ crud_path(crud_name, 'edit', { 'id': object.id }) }}">
            {{ object }}
        </a>
    </td>
{% endblock %}
