{% if cms_edit_in_place and is_granted('ROLE_ADMIN') and editable == true %}
    <div data-editable-type="block" data-url="{{ path('cms_ajax_block_update', {'id': block.id}) }}">
        {% include templateName %}
    </div>
{% else %}
    {% include templateName %}
{% endif %}
