{% extends frontend_laytout %}

{% block title %}
    {{ page.metaTitle }}
{% endblock %}

{% block meta_description %}
    {{ page.metaDescription }}
{% endblock %}

{% block contentWide %}
    {% if cms_edit_in_place and is_granted('ROLE_ADMIN') %}
        <div data-editable-type="page" data-url="{{ path('cms_ajax_page_update', {'id': page.id}) }}">
            {{ page.transformedContent | raw }}
        </div>
    {% else %}
        {{ page.transformedContent | raw }}
    {% endif %}
{% endblock %}
