{% extends 'LexikCrudBundle:CRUD:form.html.twig' %}

{% set fullscreen = true %}
{% set activeMenu = 'cms' %}

{% block form %}
    <h1>
        {% if object.id %}
            Modifier une page
        {% else %}
            Ajouter une page
        {% endif %}
    </h1>

    {{ parent() }}
{% endblock %}

{% block form_style %}editor-form{% endblock %}

{% block form_fields %}
    <div class="form-vertical">
        {{ form_row(form.pageTitle) }}
    </div>

    <div>
        {{ form_label(form.content) }}
        {{ form_errors(form.content) }}
        {{ form_widget(form.content, { 'attr': { 'class': 'hide' } }) }}
        <div id="source-wrapper" class="editor"></div>
    </div>

    <fieldset class="form-horizontal">
        <legend>Référencement</legend>

        {{ form_row(form.metaTitle) }}
        {{ form_row(form.metaDescription) }}
        {{ form_row(form.slug) }}
    </fieldset>
{% endblock form_fields %}

{% block javascript_footer %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"></script>
    <script>
        $(function() {
            var textarea = $('#lexik_cms_page_content');
            var editor = ace.edit('source-wrapper');

            editor.setValue(textarea.val());
            editor.clearSelection();
            editor.getSession().setMode("ace/mode/html");
            editor.setPrintMarginColumn(120);

            // Thanks: http://stackoverflow.com/questions/11584061/automatically-adjust-height-to-contents-in-ace-cloud9-editor
            var heightUpdateFunction = function() {
                var newHeight =
                    editor.getSession().getScreenLength()
                        * editor.renderer.lineHeight
                        + editor.renderer.scrollBar.getWidth()
                ;

                $('#source-wrapper').height(newHeight.toString() + "px");
                editor.resize();
            };

            editor.getSession().on('change', function(){
                textarea.val(editor.getSession().getValue());

                heightUpdateFunction();
            });
        });
    </script>
{% endblock %}
