.cke_editable_inline.cke_focus{ outline: 2px solid orange; }
.cke_editable_inline:not(.cke_focus):hover { background-color: rgba(254,120,30,0.1); }
div[data-editable-type] { position: relative; }
div[data-editable-type].active { outline: 2px solid lawngreen; }

/** custom submit button **/
span.cke_button__submit_icon { display: none; }
span.cke_button__submit_label { display: block; color: #ffffff; padding-left: 0; }
span.cke_button__submit_label:hover { cursor: pointer; }
a.cke_button_off.cke_button__submit,
a.cke_button_off.cke_button__submit:hover {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-repeat: repeat-x;
}
a.cke_button_off.cke_button__submit:hover {
    text-decoration: none;
    background-color: #0044cc;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
    cursor: pointer;
}