<ul class="nav">
    {% for menu in menus %}
        <li{% if (menu.page_slug is not null ? menu.page_slug : menu.route) == active %} class="active"{% endif %}>
            <a href="{{ menu_path(menu.id) }}">{{ menu.label }}</a>
        </li>
    {% endfor %}
</ul>
